@use 'variables';

:root {
  // -- Colors --
  --white: #{variables.$carta};
  --black: #{variables.$inchiostro};
  --neutral: #{variables.$pergamena};
  --neutral-dark: #{variables.$pergamena-scuro};
  --error: #{variables.$mattone};
  --error-light: #{variables.$mattone-chiaro};
  --primary: #{variables.$salvia};
  --primary-light: #{variables.$salvia-chiaro};
  --secondary: #{variables.$corallo};
  --secondary-light: #{variables.$corallo-chiaro};

  // -- Font --
  --titles-font: #{variables.$font-serif};
  --text-font: #{variables.$font-sans-serif};

  // -- Radius --
  --default-radius: #{variables.$radius-l};
  --s-placeholder-radius: #{variables.$radius-s};
  --m-placeholder-radius: #{variables.$radius-m};
}

// -- Basic reset --
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// -- Typography --
body {
  font-family: var(--text-font);
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  background-color: var(--white);
}

.body-bold {
  font-weight: 600;
}

.body-large {
  font-size: 18px;
  line-height: 27px;
}

h1 {
  font-family: var(--titles-font);
  font-weight: 700;
  font-size: 48px;
  line-height: 53px;
}

h2 {
  font-family: var(--titles-font);
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-family: var(--titles-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-family: var(--titles-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.label-tag, button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

@media (max-width: variables.$breakpoint-mobile) {
  h1 {
    font-size: 36px;
    line-height: 40px;
  }

  h2 {
    font-size: 28px;
    line-height: 34px;
  }

  h3 {
    font-size: 22px;
    line-height: 28px;
  }
}